@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

html,
body,
#root,
#defaultLayout,
#guestLayout {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #212121;
    background-color: #f6f6f6;
}

input,
textarea {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}

input:focus,
textarea:focus {
    border-color: #5b08a7;
}

.btn-auth {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #5b08a7;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-show,
.btn-delete {
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-add {
    background-color: #00a762;
}

.btn-delete {
    background-color: #b72424;
}

.btn-edit {
    background-color: #5b08a7;
}

.btn:hover,
.btn:active,
.btn:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    /* Add shadow effect */
}


.btn:active {
    animation: lightning 0.2s ease;
}

.text-center {
    text-align: center;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

#users-table {
    overflow-x: auto;
    white-space: nowrap;
}

#users-table .card {
    display: inline-block;
    min-width: 100%;
}

#users-table table {
    width: 100%;
    border-collapse: collapse;
}

#users-table th,
#users-table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.alert {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.users-container {
    position: relative;
}

.success {
    position: absolute;
    top: -40px;
    /* Adjust as per your layout */
    left: 60px;
    /* Adjust as per your layout */
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    animation: fadeInOut 3s ease-in-out;
    z-index: 2000;
    /* Animation definition */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form .form {
    width: 360px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #5b08a7;
    text-decoration: none;
}

.password-input-container {
    position: relative;
}

.password-toggle-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.password-toggle-btn svg {
    font-size: 1.2rem;
}

/* Login/Signup form */

#defaultLayout {
    display: flex;
}

#defaultLayout .content {
    flex: 1;
    margin-left: 240px;
    transition: margin-left 0.3s ease;
}

#defaultLayout main {
    padding: 2rem;
    margin-top: 80px;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for the lightning effect */
@keyframes lightning {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.9);
    }

    100% {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0);
    }
}

/* Media Queries */

/* Extra large devices (large desktops, 1024px and up) */
@media (min-width: 1025px) {
    body {
        font-size: 14px;
    }


    input {
        padding: 15px;
        font-size: 14px;
    }

    .btn,
    .btn-add,
    .btn-edit,
    .btn-show,
    .btn-delete {
        padding: 15px;
        font-size: 16px;
    }

    .login-signup-form .form {
        width: 60%;
        padding: 34px;
    }


    #defaultLayout main {
        padding: 2rem;
    }
}

/* Large devices (desktops, 768px to 1024px) */
@media (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    input {
        padding: 14px;
        font-size: 14px;
    }

    .btn,
    .btn-add,
    .btn-edit,
    .btn-show,
    .btn-delete {
        padding: 14px;
        font-size: 16px;
    }

    .login-signup-form .form {
        width: 70%;
        padding: 30px;
    }


    #defaultLayout main {
        padding: 1.75rem;
    }
}

@media (min-width: 769px) {
    #defaultLayout .content {
        margin-left: 240px;
    }

    #defaultLayout .content.shifted {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 13px;
    }

    input {
        padding: 12px;
        font-size: 13px;
    }


    #users-table {
        max-width: 700px;
    }

    .btn,
    .btn-add,
    .btn-edit,
    .btn-show,
    .btn-delete {
        padding: 12px;
        font-size: 15px;
    }

    .login-signup-form .form {
        width: 100%;
        padding: 25px;
    }

    #defaultLayout .content {
        margin-left: 0;
    }

    #users-table {
        max-width: 700px;
    }

    #defaultLayout main {
        padding: 1.5rem;
    }
}

/* Medium devices (tablets, 600px to 768px) */
@media (min-width: 576px) {

    .login-signup-form {
        padding: 10px;
    }

    #users-table {
        max-width: auto;
    }
}
/* Medium devices (tablets, 600px to 768px) */
@media (max-width: 576px) {

    .login-signup-form {
        padding: 10px;
    }
}

/* Small devices (phones, 600px and down) */
@media (max-width: 360px) {
    body {
        font-size: 12px;
    }

    input {
        padding: 10px;
        font-size: 12px;
    }


    #users-table {
        max-width: 330px;
    }

    .btn,
    .btn-add,
    .btn-edit,
    .btn-show,
    .btn-delete {
        padding: 10px;
        font-size: 14px;
    }


    .login-signup-form .form {
        width: 100%;
        padding: 10px;
    }


    #defaultLayout main {
        padding: 1rem;
    }
}
